.Section_Title
{
		position:relative;
		left:0px;
}
.Section
{
	margin-left:0px;
	margin-right:50px;
	font-weight:bold;
}
.Title_0
{
		text-align:center;
		position:relative;
		left:0px;
		background-color : #ccc;
		font-weight:bold;
}
.Title_1
{
		background-color: rgb(125,225,225);
}